<div class="jumbotron">
  <p><%= handler_info(@conn) %></p>

  <h3>Keys of the conn struct</h3>

  <%= for key <- connection_keys(@conn) do %>
    <%= render(HelloWeb.SharedView, "key.html", key: key) %>
  <% end %>
</div>

This is the message: <%= message() %>
